pip==22.0.3
gunicorn
certifi
chardet
click
dominate
Flask~=2.0.2
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy~=1.4.31
urllib3
visitor
Werkzeug~=2.0.2
WTForms~=3.0.1
