{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Yo. My name is Chaim, I go by Noxan online. I am an Amateur photographer and Software engineer. I
                graduated from Bellevue University with a BS in CyberSecurity. I don't have much work to speak of,
                hopefully in the future that changes, but I'm doing small projects here and there, take a look at my
                GitHub for those. Check out my Instagram for my pictures and contact me for jobs さよなら ✌🏻</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}